ForageGame/ProjectSettings/ShaderGraphSettings.asset
ForageGame/ProjectSettings/Packages/com.unity.probuilder/Settings.json
ForageGame/ProjectSettings/EditorBuildSettings.asset
ForageGame/Assets/Plugins/FMOD/platforms/win/lib/x86_64/fmodstudioL.dll
ForageGame/Assets/Plugins/FMOD/platforms/win/lib/x86_64/fmodstudioL.dll.meta
